<div class="weather">
    <imag
    src="./icons/sun.png"
    class="icon"
    alt="icon"
    width="50"
    height="50"
    />
    <span class="condition">Cloudy</span>
</div>
</div>
</div>
<div class="pannel">
    <form id="locationInput">
        <input
        type="text"
        class="search"
        placeholder="Search Location"
        />
        <button type="submit" class="submit">
            <i class="fas fa-search"></i>
        </button>
        </form>

        <ul class="cities">
            <li class="city">New York</li>
            <li class="city">California</li>
            <li class="city">Paris</li>
            <li class="city">Tokyo</li>
        </ul>

        <ul class="details">
            <h4>Weather Details</h4>
            <li>
                <span>Cloudy</span>
                <span class="cloud">89%</span>
            </li>
            <li>
                <span>Humidity</span>
                <span class="humidity">64%</span>
            </li>
            <li>
                <span>Wind</span>
                <span class="wind">8km/h</span>
            </li>
        </ul>
        </div>